
@model EditUpdateProject
@{
    ViewData["Title"] = "Editing Project";
}
<head>
    <link rel="stylesheet" href="~/css/AddProjectRisk.css" />
</head>
<div class="row" style="background-color:white; margin-left:10%; width:80%;">
    <div class="col-md-10 col-md-10 shadow-lg p-3 mb-5 bg-white rounded" style="margin-left:8%; margin-top:80px;">
        <form asp-controller="Project" asp-action="EditUpdateProject" method="post">
            <!--this input field store the id of the risk which we are updating-->
            <input hidden asp-for="ProjectCode" />
            <br />
            <h3 style="color:#003cff;">Editing Project Issue</h3>
            <hr />
            <div class="text-success">@ViewBag.Success</div>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="leftright" style="padding-left:5%;padding-right:5%;">
                <div class="form-group">
                    <label asp-for="projectName"></label>
                    <input asp-for="projectName" class="form-control" />
                    <span asp-validation-for="projectName" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                    <label asp-for="ProjectPM_Name"></label>
                    <input asp-for="ProjectPM_Name" class="form-control" />
                    <span asp-validation-for="ProjectPM_Name" class="text-danger"></span>
                </div>*@
                <div class="form-group">
                    <label asp-for="ProjectPM_Name"></label>
                    <div>
                        <select asp-for="ProjectPM_Name" class="custom-select mr-sm-2"
                                asp-items="@(new SelectList(ViewBag.Users))">
                            <option value="" selected disabled>Please select</option>
                        </select>
                    </div>
                    <span asp-validation-for="ProjectPM_Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClientName"></label>
                    <input asp-for="ClientName" class="form-control" />
                    <span asp-validation-for="ClientName" class="text-danger"></span>
                </div>




            </div>
            <div class="leftright" style="padding-left:5%;padding-right:5%;">
                <div class="form-group">
                    <label asp-for="StartDate"></label>
                    <input asp-for="StartDate" class="form-control" />
                    <span asp-validation-for="StartDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="EndDate"></label>
                    <input asp-for="EndDate" class="form-control" />
                    <span asp-validation-for="EndDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Progress"></label>
                    <input asp-for="Progress" class="form-control" />
                    <span asp-validation-for="Progress" class="text-danger"> </span>
                </div>


                <div class="form-row">
                    <div class="form-group col-md-6">
                        <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-spinner fa-spin"></i> Update</button>
                    </div>
                    <div class="form-group col-md-6">
                        <a asp-controller="Project" asp-action="ProjectSummary" class="btn btn-secondary btn-block"><i class=" fa fa-table"></i> Back To Table</a>
                    </div>
                </div>

            </div>
        </form>
    </div>

</div>
