
@model ForgotPassword
@{
        Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />
</head>
<body onload="document.getElementById('id01').style.display='block'" style="width:auto;">
    <div id="id01" class="modal">
        <div class="row">
            <div style="margin-left:37%; height:600px; width:25%;">
                <form class="modal-content animate" style="padding:16px;"
                      method="post">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>
        </div>
    </div>

</body>