
@{
    
    Layout = null;
}
<head>
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />
</head>
<body onload="document.getElementById('id01').style.display='block'" style="width:auto;">
    <div id="id01" class="modal">
        <div class="row">
            <div style="margin-left:37%; height:600px; width:25%;">
                <form method="post" class="modal-content animate" style="padding:16px;">
                    <h4>Your password has been reseted!</h4>
                    <h6>Click here to login with your new password</h6>
                    <button asp-action="Login" class="btn btn-primary">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>
