body {
    background-color:ghostwhite;
}
.leftright {
    float: left;
    width:50%;

    padding: 30px;
    height: 600px; /* Should be removed. Only for demonstration */
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: inline-flex;
    clear: both;
}
